.my-masonry-grid {
  display: flex;
  margin-left: -20px;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements in <masonry> */
  background: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.character-img {
  width: 100%;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements in <masonry> */
  margin-bottom: 20px;
}

.my-masonry-grid_column > div > a {
  padding: 20px;
  display: block;
  color: #333;
  text-decoration: none;
  background: #ddd;
}

.my-masonry-grid_column > div > a:hover {
  color: #000;
  background: #eee;
}

.character {
  width: 100%;
}
.char_name {
  padding: 10px 0;
  font-size: 16px;
  color: black;
}
.btn {
  background-color: #323232;
  color: white;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  transition: all ease 0.5s;
}
.btn:hover {
  background-color: #5c5a5a;
}
