.App {
  width: 100%;
  height: calc(100vh - 130px);
  text-align: center;
  background-color: #323232;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #707070;
  border-radius: 50px;
  padding: 20px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  padding: 20px;
  margin-top: auto;
}
.counterNum {
  background-color: #c0c0c0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.count-content {
  margin-bottom: 30px;
}
input {
  display: inline-block;
  margin-bottom: 50px;
  width: 30%;
  line-height: 50px;
}
.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  transition: all 0.4s ease;
}
.btn-increment {
  background-color: #1a30bf;
  color: #fff;
}
.btn-increment:hover {
  background-color: #3144c0;
  color: #000;
}

.btn-decrement {
  background-color: #c412c1;
  color: #fff;
}
.btn-decrement:hover {
  background-color: #c530c2;
  color: #000;
}
.btn-inc-by-amount {
  background-color: #1b9905;
  color: #fff;
  margin-top: 5px;
}
.btn-inc-by-amount:hover {
  background-color: #4d8f41;
  color: #000;
}
.nums {
  padding: 10px;
  border: none;
  background-color: cadetblue;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bold;
}
.count-value {
  font-size: 30px;
  font-weight: bold;
  padding-right: 15px;
}
