.container {
  /* background-color: #edf2f7; */
  width: 90%;
  margin: 0 auto;
}
.homePageCarouselBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.homePageCarousel {
  width: 800px;
}
.grow {
  transition: 1s ease;
  cursor: pointer;
  margin: 0 auto; /*yatay olarak ortaladım*/
}
.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
