.footer {
  width: 100%;
  height: 200px;
}
.footer.footer-up {
  background-color: var(--footer-up-color);
  height: 130px;
}
.footer.footer-down {
  background-color: var(--footer-down-color);
  height: 70px;
}
.icon-patika,
.icon-patika img {
  width: 50px;
  height: 50px;
}
.icon-patika {
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--icon-color-blue);
}
.icon-patika:hover {
  background-color: var(--icon-color-hover);
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .footer {
    width: 100%;
    height: 520px;
  }
  .footer.footer-up {
    height: 450px;
  }
  .footer.footer-down {
    height: 70px;
  }
}
