.header-container {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 85px;
  background-color: var(--header-color);
  z-index: 10;
}

.settings-icon {
  width: 30px;
  height: 30px;
  transition: all 0.5s ease-in-out;
}
.settings-icon:hover {
  transform: rotate(180deg);
}
.settings-button {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  /* background-color: var(--header-color); */
  background-color: var(--header-color);
  border-radius: 50%;
}
.btn-content {
  /* background-color: transparent;
  border-radius: 50%;
  border: none; */
}
/* .btn-content:hover {
  background-color: cadetblue;
} */
.logo {
  width: 45px;
  height: 45px;
}
.location-lat {
  width: 100%;
}

.header-items {
  height: 100% !important;
}

.icon-location {
  width: 30px;
  height: 30px;
}
.location-border {
  border-left: 2px solid var(--header-lr-border);
  border-right: 2px solid var(--header-lr-border);
}
.geo-text {
  display: inline-block;
  width: 60px;
  height: 100%;
}
.btn-minus {
  border: none;
  background-color: transparent;
  color: var(--red-300);
}
.minus-icon {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .header-container {
    width: 100%;
    height: auto;
  }

  .location-border {
    border-left: none;
    border-right: none;
  }
  .logo-content {
    width: 100%;
    display: grid;
    justify-content: center !important;
    margin: auto !important;
    padding: 0 !important;
  }
  .settings-content {
    width: 100%;
    display: grid;
    justify-content: center !important;
    margin: auto !important;
    padding: 0 !important;
  }
}
