.header-container {
  width: 100%;
  height: 85px;
  background-color: var(--deep-purple-50);
}

.settings-icon {
  width: 30px;
  height: 30px;
}
.settings-button {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border: none;
  /* background-color: var(--header-color); */
  border-radius: 50%;
}
.logo {
  width: 45px;
  height: 45px;
}
.icon-patika,
.icon-patika img {
  width: 50px;
  height: 50px;
}

.icon-patika {
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--icon-color-blue);
}
.icon-patika:hover {
  background-color: var(--icon-color-hover);
  cursor: pointer;
}
.icon-location {
  width: 30px;
  height: 30px;
}
.location-border {
  border-left: 2px solid var(--deep-purple-300);
  border-right: 2px solid var(--deep-purple-300);
}
.let-lang {
  font-size: 12px;
  font-weight: 700;
}
