.main-container {
  /* position: relative; */
  width: 100%;
  height: 140vh;
  /* top: 0;
  left: 0; */
  background-position: center;
  background-image: url(../assets/clouds.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -5;
}

.form-container,
.glass-panel {
  color: #fff;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 25px;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
}
.city-text {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: var(--blue-50);
  background-color: transparent !important;
}
.city-select {
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  color: var(--blue-50) !important;
  font-size: 1.2rem !important;
  border-radius: 25px !important;
  background-color: transparent !important;
}

.city-text:focus,
.city-select:focus {
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 0 10px #eb6804 !important;
}

.select-items {
  background: rgba(255, 255, 255, 0.1) !important;
  background-color: transparent !important;
  color: var(--footer-up-color);
}

::placeholder {
  color: var(--place-holder-color);
}
/*card start*/
.weth-description {
  font-size: 2rem;
}
.weth-icon {
  width: 80px;
  height: 80px;
}
.icon-weather-48 {
  width: 48px;
  height: 48px;
}
.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.8) !important;
}
.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.8) !important;
}
.city-title {
  margin-bottom: 0 !important;
}
.weth-desc-paragraph {
  margin-bottom: 0 !important;
}
/*Card End*/

/*DayCard Start*/
.item-day {
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  border-radius: 10px !important;
}
.text-day {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.text-block,
.geo-list {
  margin-bottom: 0 !important;
}
.icon-weather {
  width: 60px;
  height: 60px;
}
/*DayCard End*/

@media only screen and (max-width: 768px) {
  .card-weather {
    padding-top: 10px !important;
  }
}
