:root {
  --header-color: #3e4551;
  --footer-down-color: #212529;
  --footer-up-color: #2a2e32;
  --icon-color: #a3de83;
  --icon-color-blue: #0d6efd;
  --icon-color-hover: #0a58ca;
  --default-color: #fff;
}
