@charset "UTF-8";
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str0 {stroke:black;stroke-width:2.36221}
.fil2 {fill:#0551E7}
.fil0 {fill:#0F1221}
.fil3 {fill:#62E0E8}
.fil1 {fill:white;fill-rule:nonzero}
.fnt0 {font-weight:bold;font-size:160.821px;font-family:'Arial'}
